body{
  font-family: monospace;
  background-color: rgb(220, 115, 238);
}

.outputBox{
  min-height: 80px;
  width: 60%;
  margin-bottom: 10px;
  background-color: white;
  padding: 5px;
}

button{
  background-color: white;
  padding: 10px;
  font-family: monospace;
  border: none;
  
}

header{
  background: rgb(255, 255, 255);
  padding: 20px;
  margin-bottom: 10px;
  font-size: 10px;
}

select{
  padding: 10px;
  font-family: monospace;
  cursor: pointer;
}

input{
  padding: 10px;
  font-family: monospace;
}


