body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color:lightskyblue
}
header{
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
}
label{
  font-size: 20px;
}
select{
  font-family: monospace;
  font-size: 20px;
}
select{
  font-family: monospace;
  font-size: 20px;
 
}

button{
  background-color: rgba(111, 189, 111, 0.848);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  margin-bottom: 10px;
}
.outputBox{
  padding: 10px;
  min-height: 160px;
  width: 60%;
  outline-color: lightskyblue;
  outline-style: solid;
}
.slider{
  accent-color: rgb(249, 251, 142); 

} 
